"#----"
rpcuser=$RPCUSER
rpcpassword=$RPCPASS
rpcallowip=127.0.0.1
"#testnet-rpc-port"
rpcport=17577
"#----"
listen=1
server=1
daemon=1
"#----"
"externalip=${IPADDR}"
"#masternodeblsprivkey="
"#----"

